<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/produtos/save" method="POST">
        <div>
            <h1>Produtos</h1>
            <input type="text" name="produto" placeholder="Digite o produto" />
        </div>
        <div>
            <input type="number" name = "preço unitario" placeholder="Digite o preço"/>
        </div>
        <div>
            <input type="number" name="quantidade" placeholder="Digite a quantidade">
        </div>
        <div>
        <input type="number" name = "codigo" placeholder="Digite o codigo"/>
    </div>
        <div>
            <input type="submit" value="Cadastrar" />
        </div>

    </form>
</body>
</html>